/* Rules for All Pages  */

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Comfortaa';
  font-weight: 300;
}

body, .site {
  display: flex;
  flex-direction: column;
}

/* Top navigation bar  */
.navBar {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background-color: #222;
}

.navMenu {
  border-left: 2px solid grey;
}

.navLink a, a:visited {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
}

.navLink a:hover {
  background-color: #444;
}


h1 {
  color: #fff;
  font-size: 18vmax;
  font-weight: 700;
}

.infoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 32px;
  text-align: center;
}

.insetContainer {
  display: flex;
  flex-direction: column;
  padding: 5vw 8vw 10vw 8vw;
}

p {
  font-size: 1.5vw;
  text-align: center;
}

.waterBackground {
  background-image: url('images/water-transparent.jpg');
  height: 100%;
  background-size: cover;
  margin: 8vh 0 4vh 0;
}

/* Home Page  */
.header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  border: 0.5px solid grey;
  border-radius: 28px;
  background-color: white;
  padding: 14px 16px;
  display: inline-block;
  font-size: 16px;
}

.button a {
  text-align: center;
  color: grey;
  text-decoration: none;
  /* font-style: italic; */
}

.button:hover {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19);
}

.threeColumnContainer {
  margin: 8vh 0 8vh 0;
  width: 100%;
  display: flex;
}

.froggies {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.froggies img{
  width: 98%;
  height: 300px;
  object-fit: cover;
}

.fourColumnContainer {
  display: flex;
  justify-content: space-around;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding-left: 2vw;
}

.icons img {
  width: 20vw;
  height: 250px;
  object-fit: cover;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
}

.cards img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.one:hover {
  opacity: 0.7;
}
.two:hover {
  opacity: 0.7;
}
.three:hover {
  opacity: 0.7;
}

/* Water Footprint Page */
.header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.froggies, .twoColumnContainer p {
  padding-right: 4vw;
}

.twoColumnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Saving Water Page */
.header3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.columnOne {
  width: 100%;
  padding-left: 3vw;
}
.columnTwo {
  width: 100%;
}

/* Water Use Around the World Page */
.header4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/bg4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

table, th, td {
  border: 1px solid white;
  /* collapses borders into one line*/
  border-collapse: collapse;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #222;
  color: white;
  text-align: center;
}

.footer p {
  font-size: 16px;
}
