/* Rules for All Pages  */

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Comfortaa';
  font-weight: 300;
}

body, .site {
  display: flex;
  flex-direction: column;
}

/* Top navigation bar  */
.navBar {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background-color: #222;
}

/* Add dvision line next to menu items */
.navMenu {
  border-left: 2px solid grey;
}

/* color and style of links  */
.navLink a, a:visited {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
}

/* change color when hover */
.navLink a:hover {
  background-color: #444;
}

/* main title of each page */
h1 {
  color: #fff;
  font-size: 24vmin;
  font-weight: 700;
}

/* styling of header and paragraph info sections */
.infoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 32px;
  text-align: center;
}

/* padding and flex of content */
.insetContainer {
  display: flex;
  flex-direction: column;
  padding: 5vw 8vw 10vw 8vw;
}

/* paragraph style attributes, chagne font according to viewing window size */
p {
  font-size: 1.6vmax;
  text-align: center;
}

/* transparent water background for sections */
.waterBackground {
  background-image: url('images/water-transparent.jpg');
  height: 100%;
  background-size: cover;
  margin: 8vh 0 4vh 0;
}

/* Home Page  */
/* hero title image put text in center */
.header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* styling button size, cololr, border */
.button {
  border: 0.5px solid grey;
  border-radius: 28px;
  background-color: white;
  padding: 14px 16px;
  display: inline-block;
  font-size: 16px;
}

/* style for text in button */
.button a {
  text-align: center;
  color: grey;
  text-decoration: none;
}

/* hover for button */
.button:hover {
  /* add shadow effect to element frame */
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19);
}

/* container for row of images */
.threeColumnContainer {
  margin: 8vh 0 8vh 0;
  width: 100%;
  display: flex;
}

/* rules for image row on home, footprint, saving */
.froggies {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.froggies img{
  width: 98%;
  height: 300px;
  /* crop, keep image from stretching */
  object-fit: cover;
}

/* container foor icons in fast facts */
.fourColumnContainer {
  display: flex;
  justify-content: space-around;
}

/* rules for fact images on home page */
.icons {
  display: flex;
  justify-content: space-between;
  padding-left: 2vw;
}

.icons img {
  width: 20vw;
  height: 250px;
  object-fit: cover;
}

/* rules for info cards on home page */
.cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 0.6vw;
}

.cards img {
  width: 98%;
  height: 100%;
  object-fit: cover;
}

/* make each card transparent when hover over */
.one:hover {
  opacity: 0.7;
}
.two:hover {
  opacity: 0.7;
}
.three:hover {
  opacity: 0.7;
}

/* Water Footprint Page */
.header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* add padding to seperate info in columns */
.froggies, .twoColumnContainer p {
  padding-right: 4vw;
}

/* create two clumns of text */
.twoColumnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Saving Water Page */
.header3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* columnOne and Two to split space within container evenly between divs */
.columnOne {
  width: 100%;
  padding-left: 3vw;
}
.columnTwo {
  width: 100%;
}

/* Water Use Around the World Page */
.header4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('images/bg4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* rules for table, heading, standard cell */
table, th, td {
  border: 1px solid white;
  /* collapses borders into one line*/
  border-collapse: collapse;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}

/* static footer at bottom of each page */
.footer {
  /* position left at default */
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #222;
  color: white;
  text-align: center;
}

/* change footer font size */
.footer p {
  font-size: 16px;
}
